body {
  background-color: #151515;
  font-family: "Space Grotesk";
  font-style: normal;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.nav__list {
  max-width: 200px;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-right: 210px;
}

@media only screen and (max-width: 620px) {
  .header .container {
    padding: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .nav__list {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
  }
  .nav__list > li {
    margin-left: 20px;
  }
  .nav__logo {
    margin-top: 20px;
  }
}
.hero .container {
  display: flex;
  padding-bottom: 80px;
  border-bottom: 1px solid #fff;
}

.hero__info {
  margin-top: 120px;
}

.hero__info__heading {
  max-width: 720px;
  width: 100%;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.hero__info__heading > span {
  border-bottom: 5px solid #4ee1a0;
}

.hero__info__paragraph {
  max-width: 450px;
  width: 100%;
  padding-bottom: 65px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9d9d9;
}

.hero__info__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.28571px;
  color: #ffffff;
  padding-bottom: 10px;
  border-bottom: 2px solid #4ee1a0;
  cursor: pointer;
  transition: 0.3s all ease;
}

.hero__info__link:hover {
  color: #4ee1a0;
}

.hero__image {
  margin-top: -70px;
  z-index: -1;
}

@media only screen and (max-width: 1000px) {
  .hero__info__heading {
    padding-bottom: 40px;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.04545px;
    color: #ffffff;
  }
  .hero__info__paragraph {
    padding-bottom: 65px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #d9d9d9;
  }
  .hero__image {
    margin-top: -80px;
    width: 322px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 700px) {
  .hero__info {
    margin-top: 60px;
  }
  .hero__info__paragraph {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 620px) {
  .hero .container {
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__image {
    order: -1;
    margin-top: -100px;
    width: 322px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__info {
    margin-top: 20px;
  }
  .hero__info__heading {
    padding-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.13636px;
  }
  .hero__info__paragraph {
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
  }
}
.skills .container {
  padding-top: 70px;
}

.skills__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__info {
  max-width: 350px;
  width: 100%;
}

.skills__info__heading {
  max-width: 300px;
  width: 100%;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1.5px;
  color: #ffffff;
}

.skills__info__paragraph {
  padding-bottom: 58px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9d9d9;
}

@media only screen and (max-width: 730px) {
  .skills__info {
    max-width: 270px;
    width: 100%;
  }
}
@media only screen and (max-width: 570px) {
  .skills__div {
    justify-content: center;
    text-align: center;
  }
  .skills__info__heading {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .skills__info__paragraph {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
  }
}
.project .container {
  padding-top: 100px;
}

.project__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.project__top__heading {
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.project__top__link {
  margin-top: 50px;
  height: 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.28571px;
  color: #ffffff;
  border-bottom: 3px solid #4ee1a0;
  transition: 0.3s all ease;
  cursor: pointer;
}

.project__top__link:hover {
  color: #4ee1a0;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project__info {
  margin-bottom: 70px;
}

.project__info__image {
  padding-bottom: 20px;
  transition: 0.3s all ease;
  cursor: pointer;
}

.project__info__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.project__info__paragraph {
  padding-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9d9d9;
}

.project__info__paragraph > span {
  padding-left: 20px;
}

.img-div {
  position: relative;
  cursor: pointer;
  transition: 0.3s all ease;
}

.img-div__paragraph {
  position: absolute;
  border-bottom: 3px solid #4ee1a0;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.28571px;
  color: #ffffff;
  visibility: hidden;
  cursor: pointer;
}

.view-project {
  top: 150px;
  right: 200px;
}

.view-code {
  top: 220px;
  right: 220px;
}

.project__info__image:hover {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.img-div:hover .img-div__paragraph {
  visibility: visible;
}

.img-div:hover .img-div__paragraph:hover {
  color: #ffeb3b;
}

.img-div:hover .img-div__paragraph:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1150px) {
  .all-projects {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .project__info {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 570px) {
  .project .container {
    padding-top: 40px;
  }
  .project__top {
    padding-bottom: 40px;
  }
  .project__top__heading {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.13636px;
  }
  .project__top__link {
    margin-top: 12px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
  }
  .project__info__image {
    width: 350px;
    height: 260px;
  }
  .project__info__image {
    padding-bottom: 20px;
  }
  .project__info__heading {
    font-size: 24px;
    line-height: 32px;
  }
}
.footer {
  background-color: #242424;
  margin-top: 100px;
}

.footer .container {
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__info {
  max-width: 450px;
  width: 100%;
}

.footer__info__heading {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.footer__info__paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9d9d9;
}

.form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form > input::-moz-placeholder {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.222222px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.form > input::placeholder {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.222222px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.form > input {
  margin-bottom: 90px;
  padding-left: 30px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.222222px;
  color: #ffffff;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.form__button {
  padding-bottom: 20px;
  background: transparent;
  border: none;
  margin-left: auto;
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.28571px;
  color: #ffffff;
  border-bottom: 2px solid #4ee1a0;
  transition: 0.3s ease all;
  cursor: pointer;
}

.form__button:hover {
  color: #4ee1a0;
}

.footer__bottom {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.footer__list {
  margin: 0;
  margin-right: 30px;
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__list > li {
  margin-left: 30px;
}

.message__input {
  margin-bottom: 90px;
  padding-left: 30px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.222222px;
  color: #ffffff;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}

@media only screen and (max-width: 950px) {
  .footer .container {
    justify-content: center;
  }
  .footer__info {
    margin-bottom: 70px;
    text-align: center;
  }
}
@media only screen and (max-width: 650px) {
  .footer__bottom {
    width: 100%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer__list {
    margin-top: 30px;
  }
}/*# sourceMappingURL=main.css.map */